@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
$midnight: #E53935;
$clouds: #ecf0f1;
// General
.material-icons {
    position: relative;
    top: 50px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 3.6rem;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: lightgray;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.mainbody {
    width: 1280px;
    height: 800px;
    border: 1px solid rgb(180, 178, 180);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #C3D8A6;
    background-image: url("./../image/bg-img-main.svg");
    text-align: center;
}

.startbtn {
    position: absolute;
    width: 173px;
    height: 45px;
    top: 643px;
    left: 552px;
    font-size: 24px;
    background-color: #FFFFFF;
}

.timershow {
    position: absolute;
    width: 266px;
    height: 62px;
    top: 679px;
    left: 507px;
    // font-style: Noto Sans TC;
    font-weight: lighter;
    font-size: 42px;
    color: #FFFFFF;
}

.startbtn:hover {
    cursor: pointer;
}

.scoreshow {
    position: absolute;
    display: inline-block;
    width: 123px;
    height: 38px;
    top: 736px;
    left: 581px;
    // font-style: Noto Sans TC;
    font-weight: lighter;
    font-size: 26px;
    color: #FFFFFF;
}

.bgright {
    position: absolute;
    width: 540px;
    /*height: 272px;*/
    top: 528px;
    left: 560px;
    background-color: #C3D8A6;
    border-radius: 540px 540px 0px 0px;
    height: 270px;
}

.bk1 {
    position: absolute;
    //display: inline-block;
    background-color: #F7F6F5;
    width: 100px;
    height: 140px;
    padding: 0px;
}

//
.bk2 {
    position: absolute;
    //display: inline-block;
    background-color: #F7F6F5;
    width: 100px;
    height: 140px;
    padding: 0px;
}

.bk2>img {
    position: relative;
    top: 35px;
    width: 70px;
    margin: 0px;
    padding: 0px;
}

.bk3 {
    position: absolute;
    width: 100px;
    height: 140px;
    background-color: #F7F6F5;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.block4 {
    position: absolute;
    width: 494px;
    height: 140px;
    top: 325px;
    left: 729px;
    // background-color: green;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.block4>div {
    width: 100px;
    height: 140px;
    background-color: #F7F6F5;
    /*background-color: #F7F6F5;*/
    display: inline-block;
    margin: 0px 10px;
    padding: 0px;
}

.card {
    position: absolute;
    width: 100px;
    height: 140px;
    background-color: #F7F6F5;
    padding: 0px;
    margin: 0px;
    // text-align: center;
    // line-height:70px;
    // vertical-align: middle;
    /*animation-name: cardmove;
    animation-duration: 60s;*/
}

.imgcard {
    position: absolute;
    width: 100px;
    height: 140px;
    padding: 0px;
    margin: 0px;
}

.img {
    width: 70px;
    height: 70px;
    padding: 0px;
    margin: 0px;
}

@keyframes carddmove {
    from {
        left: 0px;
    }
    to {
        left: 20px;
    }
}

.rightKey {
    position: absolute;
    width: 60px;
    height: 60px;
    color: #58554F;
    margin: 0px;
    padding: 0px;
}

.rightKey:hover {
    cursor: pointer;
    position: relative;
    /* 當滑鼠經過超連結時，超連結往右下位移1像素 */
    top: 1px;
    left: 1px;
}